<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proov123.Properties.Settings.bregConnectionString"
            connectionString="server=10.147.0.100;user id=ylis;persistsecurityinfo=True;database=breg;allowuservariables=True;password=kirju"
            providerName="MySql.Data.MySqlClient" />
        <add name="Proov123.Properties.Settings.ConnectionString" connectionString="data source=10.147.0.7;user id=sysdba;password=salomonvesipruul;initial catalog=bitboard"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="Proov123.Properties.Settings.bregConnectionString1"
            connectionString="server=10.147.0.100;user id=ylis;password=kirju;persistsecurityinfo=True;database=breg;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Proov123.Properties.Settings.bregConnectionString2"
            connectionString="server=10.147.0.100;user id=ylis;password=kirju;persistsecurityinfo=True;database=breg"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>